* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

form { 
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
    border: 5px solid rgb(60, 60, 59);
    background: rgb(137, 200, 46);
    text-align: center;
}

form button {
    display: flex;
    padding: 15px;
    background:rgb(231, 0, 100);
    font-size: 18px;
    width: 100px;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5px;
    text-align: center;
    
}

.button {
    display: flex;
    width: 100%;
    justify-content: center;
}

.Name {
    display: flex;
    width: 87%;
    justify-content: center;
    margin: 10px;
}

.Email {
    display: flex;
    width: 87%;
    justify-content: center;
    margin: 10px;
}

.Card {
    display: flex;
    width: 87%;
    justify-content: center;
    margin: 10px;
}

